.button-1,
.button-2,
.button-3,
.button-4,
.button-5,
.button-6,
.button-7 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
}

.button-1:after,
.button-2:after,
.button-3:after,
.button-4:after,
.button-5:after,
.button-6:after,
.button-7:after {
    content: "";
    background-color: #10a37f;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button-1:hover:after,
.button-2:hover:after,
.button-3:hover:after,
.button-4:hover:after,
.button-5:hover:after,
.button-6:hover:after,
.button-7:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 268px) {
    .button-1 {
        padding: 13px 57px 13px;
    }

    .button-2 {
        padding: 13px 49px 13px;
    }

    .button-3 {
        padding: 13px 61px 13px;
    }

    .button-4 {
        padding: 13px 61px 13px;
    }

    .button-5 {
        padding: 13px 40px 13px;
    }

    .button-6 {
        padding: 13px 76px 13px;
    }

    .button-7 {
        padding: 13px 74px 13px;
    }

}